.commonContainer .mainContainer .serviceTop {
    width: 1198px;
    height: 363px;
    border: 1px solid #dedede;
    background-color: #fcfcfc;
}

    .commonContainer .mainContainer .serviceTop h2 {
        width: 100%;
        margin: 0;
        padding: 25px 0 10px;
        font-size: 32px;
        font-weight: normal;
        line-height: 40px;
        text-align: center;
    }

    .commonContainer .mainContainer .serviceTop h3 {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        line-height: 24px;
    }

        .commonContainer .mainContainer .serviceTop h3 a {
            cursor: pointer;
            color: #0e6eb8;
            text-decoration: none;
            padding-bottom: 5px;
            border-bottom: 1px solid #0e6eb8;
        }

    .commonContainer .mainContainer .serviceTop ul {
        width: 100%;
        height: 240px;
        margin: 20px 0 0;
        padding: 0;
    }

        .commonContainer .mainContainer .serviceTop ul li {
            width: 559px;
            height: 50px;
            line-height: 50px;
            display: block;
            float: left;
            padding: 0 15px;
            background-color: #f3f3f3;
            margin-bottom: 10px;
        }

        .commonContainer .mainContainer .serviceTop ul .left {
            margin-right: 20px;
        }

        .commonContainer .mainContainer .serviceTop ul li a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 18px;
            text-decoration: none;
            color: #000;
            background-image: url("../images/arrow.png");
            background-repeat: no-repeat;
            background-position: right;
        }

.commonContainer .mainContainer .serviceBottom {
    width: 1198px;
    height: 397px;
    margin-top: 65px;
}

    .commonContainer .mainContainer .serviceBottom div {
        float: left;
        width: 587px;
        height: 395px;
        border: 1px solid #dedede;
        background-color: #fcfcfc;
    }

    .commonContainer .mainContainer .serviceBottom .left {
        margin-right: 20px;
    }

        .commonContainer .mainContainer .serviceBottom div h2 {
            width: 100%;
            font-size: 28px;
            line-height: 30px;
            font-weight: normal;
            text-align: center;
            margin: 0;
            padding: 30px 0 20px;
        }

        .commonContainer .mainContainer .serviceBottom div h3 {
            width: 100%;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            line-height: 25px;
            margin: 0;
            padding: 0 0 30px;
        }

        .commonContainer .mainContainer .serviceBottom div h4 {
            width: 50%;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            border-bottom: 1px solid #0e6eb8;
            margin: 0 auto 11px;
            line-height: 25px;
        }

            .commonContainer .mainContainer .serviceBottom div h4 a {
                cursor: pointer;
                text-decoration: none;
                color: #0e6eb8;
            }

        .commonContainer .mainContainer .serviceBottom div img {
            width: 100%;
            height: 224px;
        }

.commonContainer .mainContainer .serviceContainer {
    width: 100%;
    height: auto;
}

    .commonContainer .mainContainer .serviceContainer h3 {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0;
        font-size: 26px;
        color: #FFFFFF;
        text-align: center;
        font-weight: normal;
        background-image: url("../images/blueTitle.png");
    }

    .commonContainer .mainContainer .serviceContainer .vendorContent {
        width: 100%;
        padding: 60px 0;
        text-align: center;
        border-bottom: 1px solid #a0a0a0;
    }

        .commonContainer .mainContainer .serviceContainer .vendorContent div {
            height: 50px;
            font-size: 16px;
            color: #595757;
        }

            .commonContainer .mainContainer .serviceContainer .vendorContent div input {
                font-size: 16px;
                color: #595757;
                width: 175px;
                height: 20px;
                line-height: 20px;
                padding: 5px 10px;
            }

        .commonContainer .mainContainer .serviceContainer .vendorContent button {
            color: #FFFFFF;
            cursor: pointer;
            width: 175px;
            height: 50px;
            background-color: #0e6eb8;
            border: none;
            font-size: 18px;
            border-radius: 30px;
            margin-top: 20px;
        }

    .commonContainer .mainContainer .serviceContainer p {
        font-size: 16px;
    }

        .commonContainer .mainContainer .serviceContainer p i {
            font-style: normal;
            color: #dc362a;
        }

    .commonContainer .mainContainer .serviceContainer .vendorImg {
        max-width: 520px;
        max-height: 600px;
        padding: 25px 0;
        margin: 0 auto;
    }

        .commonContainer .mainContainer .serviceContainer .vendorImg p {
            text-align: center;
            font-size: 24px;
            color: #dc362a;
        }

        .commonContainer .mainContainer .serviceContainer .vendorImg img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
        }

    .commonContainer .mainContainer .serviceContainer .issueContainer {
        width: 885px;
        height: auto;
        padding: 10px 20px;
        background-color: #fafafa;
    }

    .commonContainer .mainContainer .mainContent .serviceContainer .issueList {
        width: 100%;
        height: auto;
        margin: 0 0 20px;
        padding: 10px 0;
    }

        .commonContainer .mainContainer .mainContent .serviceContainer .issueList .issueOne {
            display: block;
            font-size: 18px;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
            padding: 0 20px;
        }

        .commonContainer .mainContainer .mainContent .serviceContainer .issueList .issueOne:nth-of-type(odd) {
            background-color: #fafafa;
        }

            .commonContainer .mainContainer .mainContent .serviceContainer .issueList .issueOne a {
                text-decoration: none;
                color: #000;
            }